.container-fluid {
    text-align: center;
}
.bluebar{
    position: absolute;
    height: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(59, 89, 153);
    opacity: 1;
}
 .topcoltext {
     text-align: left;
     color: white;
     height: 30px;
 }
 .singupinput {
     height: 45px;
 }
 .butmystyle {
     width: 90%;
 }
 .invalidbuttonStyle {
     width: 90%;
     background: #ff0000;
     color: white;
     font-weight: bold;
 }
 .validbuttonStyle {
     width: 90%;
     background: rgb(31, 138, 26);
     color: white;
     font-weight: bold;
 }
 .divanim{
     opacity: 0;
 }
 .ng-invalid.ng-dirty {
     border-color: #FA787E;
 }
 .ng-valid.ng-dirty {
     border-color: #78FA89;
 }
 .invalidtext {
     color: red;
 }